#qna {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.status {
    height: 10px;
    width: 50%;
    background-color: aliceblue;
    margin-bottom: 2rem;
    border-radius:10px;
}



#statusBar {
    border-radius:10px;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg, #87986a, #87986a33);
}

#question {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Gaegu', cursive;
    font-size: 1.5rem;
    color: #87986a;
    font-weight: bold;

    background-color:#f6f4d2;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.25),0 5px 8px rgba(0,0,0,0.2);
}

#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
}

.answerOptions {
    padding: 0.5rem;
    border-radius: 10px; 
    font-size: 1.25rem;
    background-color: #f6f4d2;
    display: block;
    
    color: #f19c79;
    
    font-family: 'Gaegu', cursive;
    font-weight:bold;
    border: 1px solid #f19c79;

    margin: 0.5rem;
    width: 50%;
}


.answerOptions:hover, .answerOptions:focus {
    background-color: #a44a3f;
    color: #f6f4d2;
    border: 1px solid #f6f4d2;
}
/* #d4e09b
#f6f4d2
#cbdfbd
#f19c79
#a44a3f */