#result {
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 75%;
  margin: 1rem;
  background-color: #f6f4d2;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25), 0 5px 8px rgba(0, 0, 0, 0.2);
}

#result h1 {
  margin-bottom: 1rem;
}
#result #shareBtn,
#result #resetBtn {
  width: 100%;
  background-color: #fee500;
  color: #3a1d1d;
  margin: 1.25rem 0;
  border: none;
}

#result a {
  text-decoration: none;
}

#result #shareBtn:hover,
#result #shareBtn:focus,
#result #resetBtn:hover,
#result #resetBtn:focus {
  background-color: #f6f4d2;
  color: #fee500;
  border: 1px solid #fee500;
}

#resultName {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#resultDescription {
  width: 80%;
  padding: 1rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

#resultImage {
  width: 300px;
}
